.profile {
  display: flex;
  flex-direction: column;

  flex: 2;
  height: 100%;

  &__tags {
    display: flex;
    justify-content: space-around;

    margin-bottom: 20px;

    &__item {
      padding: 5px 8px;

      border: 1px solid #c7c7c7;
      border-radius: 5px;

      cursor: pointer;
    }
  }

  &__imageBox {
    @include flex(center);
    flex: 1;

    img {
      width: 100%;

      border-radius: 20px;

      border: 1px solid #000;

      cursor: pointer;
    }
  }

  &__commentBox {
    text-align: center;
    flex: 1;

    display: flex;
    flex-direction: column;

    font-weight: 400;
    letter-spacing: 1px;

    h1 {
      font-size: 27px;
      font-weight: 600;

      padding: 20px 0;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;

      padding: 4px 0;
    }
    &__values {
      color: #fb3535;

      font-weight: 800;
    }
    &__values2 {
      color: #2557fa;

      font-weight: 800;
    }
  }
}
