.history {
  @include flex(center);
  flex: 2;

  width: 100%;
  height: 100%;


  padding: 10px;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;
    height: 100%;

    &__job {
      transition: all 0.1s linear;

      cursor: pointer;

      h2 {
        font-weight: 600;
      }

      h3 {
        font-weight: 500;
      }

      h4 {
        padding: 3px 0;
      }
    }

    .active {
      color: rgb(56, 124, 226);
    }
  }
}