.header {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 60px;

  border-bottom: 1px dotted #c7c7c7;

  .container {
    width: 100%;
    height: 100%;

    &__ul {
      @include flex(space-around);

      width: 100%;
      height: 100%;

      &__left {
        @include flex(center);

        img {
          width: 30px;
          height: 30px;

          cursor: pointer;
        }
      }

      &__right {
        @include flex(center);

        span {
          margin-right: 10px;
        }

        p {
          font-weight: 400;
        }
      }
    }
  }
}