.mininav {
  @include flex(center);
  flex: 0.5;

  width: 100%;
  height: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;
    height: 100%;

    &__job {
      transition: all 0.1s linear;

      cursor: pointer;

      h2 {
        font-weight: 600;
        font-size: 21px;
      }
    }

    .active {
      color: rgb(93, 156, 250);
    }
  }
}
