.main {
  @include flex(center);

  -webkit-user-drag: none;
  user-select: none;

  .container {
    width: 1200px;

    border-radius: 5px;

    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
  }
}