.greenart {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  row-gap: 20px;

  &__above {
    @include flex(center);

    width: 100%;
    height: 39.5%;

    gap: 20px;

    &__imageBox {
      flex: 8;
      height: 100%;

      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;

        border-radius: 5px;

        object-fit: cover;
      }
    }

    &__text {
      flex: 6;
      height: 100%;
      padding: 20px 10px;

      h1 {
        font-size: 24px;
        font-weight: 500;
        padding: 0 0 20px 0;

        letter-spacing: 2px;
      }

      h3 {
        letter-spacing: 1.5px;
        font-size: 18px;
      }
    }
  }

  &__below {
    @include flex(center);

    width: 100%;
    height: 59.5%;

    gap: 20px;

    &__text {
      flex: 7;
      height: 100%;

      padding: 20px 10px;

      h1 {
        font-size: 24px;
        font-weight: 500;

        letter-spacing: 2px;
      }

      .content {
        display: flex;

        gap: 20px;

        div {
          flex: 1;

          h2 {
            font-weight: 400;
            font-size: 20px;
            padding: 50px 0;
          }

          h3 {
            font-size: 18px;
            letter-spacing: 2px;
          }
        }
      }
    }

    &__imageBox {
      flex: 3;
      height: 100%;

      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;

        border-radius: 5px;

        object-fit: cover;
      }
    }
  }
}