.works {
  @include flex(center);
  flex-direction: column;
  text-align: center;

  width: 100%;
  height: 68vh;

  background-color: #fff2ed;

  h1{
    font-weight: bold;
  }

  &__tags {
    display: flex;
    justify-content: space-between;
    width: 500px;

    padding: 30px 0;

    h2 {
      text-decoration: underline;
    }
  }

  &__btnBox {
    display: flex;
    justify-content: space-around;

    width: 500px;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      color: #888888;
      background-color: #fff;

      padding: 10px;

      border: 1px solid #e7e7e7;
      border-radius: 10px;

      transition: all 0.1s linear;

      &:hover {
        color: #000;
        scale: 1.1;
      }
    }
  }
}
